/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/public/faces
/public/image
/public/uploads
/public/assets
/vendor/*
/.DS_Store
**/.DS_Store
/.idea
/db/schema.rb

# dotenv
.env.development
.env.test
.env.production
.env

#simplecov
/coverage