%div#home_banner
  %img{ src: 'image/home_banner.png', class: 'img-responsive', style: 'width: 100%' }
%div.article.container
  %div.content_center
    %div.wrap_with_line
      %ul.list-inline.row
        %li.line.col-sm-4
        %li.col-sm-4 高端娱乐策划
        %li.line.col-sm-4
    %span.triangle
    %p 组织、策划各类派对，用心打造高端娱乐活动

  %div.diagonal_dividing
    %div.wrap
      %div.left
        %img{ src: 'image/private_party_banner.png', class: 'img-responsive' }
      %div.right
        %a{href: 'test.com'}
          %img{ src: 'image/kids_party_banner.png', class: 'img-responsive' }

  %div.diagonal_dividing_inverse
    %div.wrap
      %div.left
        %a{href: 'test.com'}
          %img{ src: 'image/dinner_party_banner.png', class: 'img-responsive' }
      %div.right
        %a{href: 'test.com'}
          %img{ src: 'image/company_party_banner.png', class: 'img-responsive' }

  %div.contact_us
    %div.content_center
      %ul.list-unstyled
        %li.h2 联系我们
        %li.divider
        %li contact us
        %li.h4 即刻为您定制最完美的活动
        %li.h1 0755-111111

