// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";

.content_center {
  text-align: center;
  p {
    color: #9d9d9d;
    font-size: 16px;
  }
  @media (min-width: $screen-sm) {
    p { font-size: 20px; }
  }

  .triangle {
    width: 0;
    height: 0;
    border-width: 15px 15px 0 15px;
    border-color: red transparent;
    border-style: ridge;
  }
}

.wrap_with_line {
  height: 70px;
  white-space:nowrap;
  ul {
    font-size: 40px;
  }

  @media (min-width: $screen-sm) {
    li.line {
      border-bottom: 4px solid;
      margin-top: 32px;
    }
  }
}

.diagonal_dividing {
  margin-bottom: 10px;
  div.wrap {
    width: 100%;
    height: 0;
    padding-bottom: 54%;
    overflow: hidden;

    > div {
      transform: skewX(61.8deg) scale(2,1);
      width: 50%;
      padding-bottom: 54%;
      height: 0;
      float: left;
      overflow: hidden;
    }

    div.left {
      transform-origin: 100.5%;
      img {
        transform: skewX(-43deg) scale(1,2) translateY(50%) translateX(50%);
        transform-origin: bottom;
      }

      img:hover {
        transform: skewX(-43deg) scale(1.05,2.1) translateY(50%) translateX(50%);
        transform-origin: bottom;
      }
    }

    div.right {
      transform-origin: -0.5%;
      img {
        transform: skewX(-43deg) scale(1,2) translateY(25%) translateX(-25%) ;
      }
      img:hover {
        transform: skewX(-43deg) scale(1.05,2.1) translateY(25%) translateX(-25%) ;
      }
    }
  }
}

.diagonal_dividing_inverse img:hover, .diagonal_dividing img:hover {
  opacity: 0.8;
}
.diagonal_dividing_inverse {
  margin-bottom: 10px;
  div.wrap {
    width: 100%;
    height: 0;
    padding-bottom: 54%;
    overflow: hidden;

    > div {
      transform: skewX(-61.8deg) scale(2,1);
      width: 50%;
      padding-bottom: 54%;
      height: 0;
      float: left;
      overflow: hidden;
    }

    div.left {
      transform-origin: 100.05%;
      img {
        transform: skewX(43deg) scale(1,2) translateY(50%) translateX(50%);
        transform-origin: bottom;
      }

      img:hover {
        transform: skewX(43deg) scale(1.01,2) translateY(50%) translateX(50%);
        transform-origin: bottom;
      }
    }

    div.right {
      transform-origin: -0.5%;
      img {
        transform: skewX(43deg) scale(1,2) translateY(25%) translateX(-75%) ;
      }

      img:hover {
        transform: skewX(43deg) scale(1.01,2) translateY(25%) translateX(-75%) ;
      }
    }
  }
}
