%div.footer
  %div.container
    %div.row
      %div.col-md-12.icon
        %img{ src: 'image/icon.png'}
    %div.row
      %div.col-md-5
        %ul.list-inline.links
          %li 关于我们
          %li 关于我们
          %li 关于我们
          %li 关于我们
          %li 关于我们
          %li 关于我们
          %li 关于我们
          %li 关于我们
      %div.col-md-2
      %div.col-md-5
        %ul.list-inline.qr_codes.remove_blank
          %li
            %img{ src: 'image/wx_qr_code.jpeg'}
            %p.h5 官方微信
          %li
            %img{ src: 'image/wx_qr_code.jpeg'}
            %p.h5 官方微信
