%div{ class: 'navbar navbar-inverse navbar-fixed-top opaque', id: 'main_header', role: 'navigation' }
  %div.container
    %div.navbar-header
      %button{ class: 'navbar-toggle', type: 'button',
        data: { toggle: 'collapse', target: '#navbar-responsive-header' } }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        %img{ src: 'image/icon.png', class: 'img-responsive', style: 'max-height: 65px;'}
    %div{ class: 'collapse navbar-collapse navbar-right', id: 'navbar-responsive-header' }
      %ul{class: 'nav navbar-nav main-nav'}
        %li.active= link_to '嗨趴', '/'
        %li
          %a 定制
        %li
          %a 我们